<style>
  .radial-container div {
    display: inline-block;
    padding: 20px;
    width: 250px;
  }

  .rbc-label-start {
    font-family: fontawesome;
    font-weight: bold;
    font-size: 30px;
  }

  .rbc-center-text {
    font-family: 'Roboto', 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial;
    fill: black;
  }

  .megabites .rbc-center-text-line0 {
    font-size: 55px;
  }

  .megabites .rbc-center-text-line1 {
    font-size: 20px;
  }

  .minutes .rbc-center-text-line0 {
    font-size: 55px;
  }

  .minutes .rbc-center-text-line1 {
    font-size: 20px;
  }

  .gpa .rbc-center-text-line0 {
    font-size: 30px;
  }

</style>
<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Dashboard</a>
                  </div>
                  <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-left">

                      </ul>

                      <ul class="nav navbar-nav navbar-right">

  						<li class="separator hidden-lg hidden-md"></li>
                      </ul>
                  </div>
              </div>
</nav>
<div class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="header">
                  <h3 class="title"> ZAR <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'airtime').sum(:voucher_value_remaining)%>
                    <span style="float: right"> <a href="" style="color: black" type="" data-toggle="modal" data-target="#addCurrency"><i class="pe-7s-plus"></i></a></span>
                    <span style="float: right"> <a href="" style="color: black" type="" data-toggle="modal" data-target="#makeTransfer"><i class="pe-7s-credit"></i>&nbsp;</a></span>
                  </h3>
                  <hr>
              </div>
            </div>
          </div>
          <div class="col-md-4">
                <form>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" class="form-control" style="height:65px; font-size:28px" placeholder="PREPAID VOUCHER" value="" id="voucher_code_txt">
                          </div>
                      </div>
                  </div>
                  </form>
          </div>
          <div class="col-md-4">
              <button class="btn btn-info btn-fill pull-right" style="height:65px;width: 100%; margin-bottom:40px; font-size:28px" onclick="link_voucher()">LINK</button>
              <div class="clearfix"></div>
          </div>
      </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Voice<span style="float:right"><a href="" style="color: black" type="" data-toggle="modal" data-target="#addVoice"><i class="pe-7s-plus"></i></a><span></h3>
                        <hr>
                    </div>
                    <div class="content" style="height:250px;">
                      <div style="height:185px">
                        <div style="height:185px;text-align:center" >
                          <div class="radial-container">
                            <div class="minutes"></div>
                            <script>
                            var megabites = new RadialProgressChart('.minutes', {
                            diameter: 200,
                            max: <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'voice').sum(:voucher_value)%>,
                            round: true,
                            series: [{
                              labelStart: '\uF105',
                              value: <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'voice').sum(:voucher_value_remaining)%>,
                              color: ['#ff1410', '#fe08b5']
                            }],
                            center: {
                              content: [function(value) {
                                return value
                              }, ' OF <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'voice').sum(:voucher_value).to_s %> MIN'],
                              y: 25
                            }
                            });
                            </script>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="footer" style="padding: 15px 15px 10px 15px">
                        <hr>
                        <div class="stats"><%= time_ago_in_words(DateTime.now) %></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Data<span style="float:right"><a href="" style="color: black" type="" data-toggle="modal" data-target="#addData"><i class="pe-7s-plus"></i></a><span></h3>
                        <hr>


                    </div>
                    <div class="content" style="height:250px;">
                      <div style="height:185px;text-align:center" >
                        <div class="radial-container">
                          <div class="megabites"></div>
                          <script>
                          var minutes = new RadialProgressChart('.megabites', {
                          diameter: 200,
                          max: <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'data').sum(:voucher_value)%>,
                          round: true,
                          series: [{
                            labelStart: '\uF105',
                            value: <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'data').sum(:voucher_value_remaining)%>,
                            color: ['yellow', '#7CFC00']
                          }],
                          center: {
                            content: [function(value) {
                              return value
                            }, ' OF <%= Voucher.where(:user_id => current_user.id, :voucher_type => 'data').sum(:voucher_value).to_s %> MB'],
                            y: 25
                          }
                          });
                          </script>
                        </div>
                      </div>

                    </div>
                    <div class="footer" style="padding: 15px 15px 10px 15px">
                        <hr>
                        <div class="stats"> <%= time_ago_in_words(DateTime.now) %> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <div class="header">
                        <h3 class="title">All Devices<span style="float:right"><a href="" style="color: black" type="" data-toggle="modal" data-target="#addDevice"><i class="pe-7s-plus"></i></a><span></h3>
                        <hr>

                    </div>
                    <div class="content" style="height:250px;overflow-y:scroll">
                      <div class="table-full-width">
                        <div class="list-group">
                          <% @devices.each do |device| %>
                          <a href="#" onclick="" class="list-group-item list-group-item-action flex-column align-items-start ">
                            <div class="d-flex w-100 text-center">
                              <h4 style="margin-bottom: 0px;"> <%= device.name %></h4>
                              <p class="text-muted"><%= device.token %></p>
                              <%= button_to 'Remove',  device,  method: :delete, class:"btn btn-danger btn-fill"%>
                            </div>
                          </a>
                          <% end %>
                        </div>
                    </div>
                    </div>
                    <div class="footer" style="padding: 15px 15px 10px 15px">
                        <hr>
                        <div class="stats">You are signed in on these devices</div></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
      function link_voucher(){
          var voucher_code = document.getElementById('voucher_code_txt').value
          window.open("/dashboard/link_voucher?voucher_code="+ voucher_code,"_self");


      }
    </script>
